# 0.1.7
[buildout]
extends = buildout.cfg
eggs +=
    RelStorage
    RelStorage[postgresql]
    plonetheme.cleanblog
    plonetheme.booster
    plone.app.mosaic
    collective.disqus
    zope.formlib
    zope.processlifetime
    rapido.plone

[instance]
rel-storage =
    type postgresql
    dbname {{ DB_NAME }}
    user {{ DB_USER }}
    password {{ PASSWORD }}
    host {{ DB_HOST|default('db') }}
    blob-dir /data/blobstorage
    shared-blob-dir false

[versions]
plone.api = 1.5.1
collective.disqus = 2.2.1
rapido.plone = 1.1.1
